<section>
	<div class="container">
		<h1>About</h1>
		<div class="col-lg-6 col-xs-12 about" >
			<h3>We are located at :</h3>
			<ul id="contact-list">
    	  <li><span class="glyphicon glyphicon-map-marker glyph"></span> &nbsp; 14 Coppergate, York, YO1 9NR</li>	
      	<li><span class="glyphicon glyphicon-earphone glyph"></span> &nbsp; +44 (0)20 1234 5678</li>
      	<li><span class="glyphicon glyphicon-envelope glyph"></span> &nbsp; info@bikes2go.co.uk</li>
    	</ul>
    </div>

		<div class="col-lg-6 col-xs-12 about" >   
			<h3>Current Opening Hours are :</h3>
			<br>
			<table id="times">
				<tbody>
					<tr>
						<td><strong>Monday - Friday</strong></td>
						<td>08:30 - 17:30</td>
					</tr>
					<td><strong>Saturday</strong></td>
						<td>09:00 - 17:30</td>
					</tr>
					<tr>
						<td><strong>Sunday</strong></td>
						<td>09:00 - 16:00</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-12 about">   
			<iframe align="right" width="100%" height="250" frameborder="0" style="border: 2px solid silver;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGszkOM_bsdKU0O6xHfE_0dLBVKZLxcZA&q=53.957718,-1.079864">
			</iframe>
		</div>
	</div>
</section>

