<section>

	<div class="container top welcome">
		<ol class="breadcrumb">
  		<li><%= link_to "Home", static_pages_landing_page_path %></li>
  		<li class="active">About</li>
		</ol>
		<h1>Welcome to Bikes 2 Go</h1>
		<div class="intro-image" style="float:right">
			<%= image_tag("Logo.png", class: "img-responsive my-image") %>
		</div>
		<p>Bikes 2 Go is a family run business that has served tourists and locals alike for over 20 years.</p>
		<p>We have knowledgeable and friendly staff from all over the world to help you through the process and to get you on the right bike so you can enjoy your ride.</p>
	</div>

	<div class="container welcome">
		<div class="intro-image" style="float:left">
			<%= image_tag("shop.jpg", class: "img-responsive my-image") %>
		</div>
		<p>With a convenient location in the city centre of York, we are a perfect starting point to get out riding around this famous city and the surrounding countryside.</p>
		<p>Bikes to Go is a favorite bike rental shop in York, so just ask your concierge or a local and they will point you in the right direction.</p>
	</div>
</section>

