<h1>Welcome to Bikes 2 Go</h1>
<p>Conveniently located in the centre of the historical city of York, Bikes 2 Go has been serving York locals and tourists since 1985.
With a large selection of the newest bicycles, knowledgeable staff and complimentary helmets and locks, seeing York couldn't be easier.</p>
