<section>
	<div class="container top">
		<ol class="breadcrumb">
 		 	<li><%= link_to "Home", static_pages_landing_page_path %></li>
  		<li class="active">Payment</li>
		</ol>
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-body">
					<p>Thank you for your purchase.<br>
					We will send a confirmation email shortly.</p>
					<%= image_tag("thankyou.png", class: "img-responsive" style="float-right") %>
				</div>
			</div>
		</div>
	</div>
</section>
