<section>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Thank you for your purchase.<br>
				We will send a confirmation email shortly.</p>
			</div>
		</div>
	</div>
</section>
