// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* { 
	box-sizing: border-box; 
	margin: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body, {
	margin: 0 auto;
	color: black;
	margin-bottom: 60px;

}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

h1, h2, projectName {
	font-family: arial;
	font-weight: 200;
}

h1 {
	text-align: center;
	margin-top: 85px;
	margin-bottom: 40px;
}

h2 {
	text-align: center;
	margin-bottom: 75px;
	font-size: 1.8em;
}

.landing-page h2 {
	margin-top: 85px;
}

.navbar {
	background-color: #1E90FF;
	border_bottom: 2px solid #333333;
	padding: 0px 2.5% 0px 0px;

	a {
		font-family: Trebuchet, Helvetica, Arial, sans-serif;
		color: black;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 0.05em;
		transition: color 1000ms;
		-webkit-transition: color 1000ms;
		-moz-transition: color 1000ms;
	}

	a:active, a:hover {
		color: #000;
		background-color: transparent;
	}
}

.projectName a {
	font-size: 1.8em;
	font-weight: 200;
}

.navbar-inverse .navbar-nav li a {
	color: #000;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #000;
	border: 1px solid black;
}

footer {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #FFFFFF;
	color: #000000;
}

#copyright {
	position: relative;
	bottom: 3px;
} 

/***** Carousel Start *****/

.container-fluid {
	margin: 0;
	padding: 0;
}

.carousel {
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 100px 0px;
}

.carousel .carousel-inner {
	height: 100%;
}

.carousel .carousel-inner img {
		display:block;
		object-fit: cover;
}

.carousel-caption {
	top: 5%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-indicators li {
	border: 1px solid #333333;
}