<div class="row">
  <% cache product do %>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="products bike-image">
      <%= link_to image_tag(product.image_url, class: "img-responsive"), product %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="products detail">
      <h3><%= product.name %></h3>
      <h4>£<%= product.price %>0</h4>
      <p><%= product.description %></p>
    </div>
  </div>
  <%end %>
</div>

