<section>
	<div class="container top">
   	<ol class="breadcrumb">
      <li><%= link_to "Home", static_pages_landing_page_path %></li>
      <li><%= link_to @product.name, @product %></li>
      <li class="active">Edit Product</li>
    </ol>
		<h1>Edit Product</h1>
		<%= render 'form', product: @product %>
	</div>
</section>
