<section>

  <div class="container">
    <h1>Bikes</h1>

    <p>Bike rentals start at £10 for the 1st day and only £42 for 6 days.</p>
    <p> All rentals include the use of a lock and a helmet. For more details on rental rates check out the individual bike choices below.</p>

  </div>

<section>
  <div class="container products">
    <%= render @products %>
  </div>
  <div class="new products detail">
    <p>
      <%= link_to 'Back', static_pages_index_path %>  |
      <%= link_to 'New Product', new_product_path %>
    </p>
  </div>
</section>
